@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/RedHatText-Regular.woff2") format("woff2"),
    url("../assets/fonts/RedHatText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-Regular.woff2") format("woff2"),
    url("../assets/fonts/RedHatDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --red: #c73a0f;
}

h1,
p {
  margin: 0;
}

body {
  font-family: "Red Hat Text", "Red Hat Display", var(--system-ui);
  display: flex;
  box-sizing: border-box;
}

.main,
.sidebar {
  margin-left: 5%;
}

#contentContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 35px;
}

.foodImage {
  width: 300px;
  border-radius: 5px;
}

.actionContainer {
  display: flex;
  margin-left: 70px;
  position: relative;
  bottom: 15px;
}

.toCartBtn:hover {
  background-color: orange;
}

.decre-btn,
.amount-text {
  margin-right: 60px;
}

.toCartBtn {
  width: 60%;
  margin-left: 20%;
  position: relative;
  bottom: 30px;
  padding: 10px 40px;
  border-radius: 50px;
  border: 1px solid grey;
}

.btn-cart-logo {
  display: flex;
  align-items: center;
}

.cartAmount,
.cartPrice,
.cartTotalPrice {
  margin-right: 15px;
}
