@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/RedHatText-Regular.woff2") format("woff2"),
    url("../assets/fonts/RedHatText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-Regular.woff2") format("woff2"),
    url("../assets/fonts/RedHatDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: "Red Hat Text", "Red Hat Display", var(--system-ui);
}
