@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/RedHatText-Regular.woff2") format("woff2"),
    url("../assets/fonts/RedHatText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../assets/fonts/RedHatDisplay-Regular.woff2") format("woff2"),
    url("../assets/fonts/RedHatDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --Red: hsl(14, 86%, 42%);
  --darkRed: hsl(14, 86%, 32%);
  --Green: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}

h1,
p {
  margin: 0;
}

body {
  font-family: "Red Hat Text", "Red Hat Display", var(--system-ui);
  display: flex;
  box-sizing: border-box;
  background-color: var(--Rose-100);
}

.main,
.sidebar {
  margin-left: 5%;
}

#contentContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 35px;
}

.foodImage {
  width: 300px;
  border-radius: 5px;
}

.food-category,
.cartPrice {
  color: var(--Rose-500);
}

.food-name,
.cartTotalPrice,
.cartText {
  color: var(--Rose-900);
  font-weight: bold;
}

.cartText {
  margin-bottom: 10px;
}

.food-price,
.cartAmount {
  color: var(--Red);
  font-weight: bold;
}

.actionContainer {
  display: flex;
  margin-left: 47.5px;
  position: relative;
  bottom: 25px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 25px;
  color: white;
  align-items: center;
}

.decre-btn,
.amount-text {
  margin-right: 60px;
}

.toCartBtn {
  width: 60%;
  margin-left: 20%;
  position: relative;
  bottom: 30px;
  padding: 10px 40px;
  border-radius: 50px;
  border: 1px solid grey;
}

.btn-cart-logo {
  display: flex;
  align-items: center;
}

.decre-btn,
.incre-btn {
  border-radius: 80%;
  padding: 5px 10px;
  border: 1px solid white;
  color: inherit;
  background-color: inherit;
}

.incre-btn:hover,
.decre-btn:hover {
  color: var(--Red);
  background-color: white;
}

.toCartBtn:hover {
  border: 1px solid var(--Red);
  color: var(--Red);
}

.cartAmount,
.cartPrice,
.cartTotalPrice {
  margin-right: 15px;
}

.sidebar {
  background-color: var(--Rose-50);
  height: fit-content;
  padding: 25px;
  margin-top: 50px;
  border-radius: 5px;
  width: 400px;
}

.header {
  margin-top: 50px;
  margin-bottom: 25px;
}

.sidebar-header {
  color: var(--Red);
}

.sidebarOrder > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid var(--Rose-100);
}

.removeBtn {
  height: fit-content;
  border-radius: 50%;
  padding: 2.5px 5px;
  border: 1px solid var(--Rose-300);
  color: var(--Rose-00);
}

.removeBtn:hover {
  border: 1px solid black;
  color: black;
}

.sidebar-total {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-amount {
  font-size: 25px;
  font-weight: bold;
  color: var(--Rose-900);
}

.sidebar-carbon-container {
  background-color: var(--Rose-100);
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border-radius: 5px;
}

#confirm-order {
  width: 100%;
  padding: 15px 0px;
  margin-top: 25px;
  border-radius: 25px;
  border: none;
  color: white;
  background-color: var(--Red);
  font-size: 15px;
  font-weight: bold;
}

#confirm-order:hover {
  background-color: var(--darkRed);
}

.modal-order-container {
  width: 600px;
  border: none;
  border-radius: 15px;
  padding: 35px;
}

.cartModalContainer > div {
  display: flex;
}

.modal-header {
  color: var(--Rose-900);
  margin-top: 10px;
  margin-bottom: 5px;
}

.modal-body {
  color: var(--Rose-500);
  margin-bottom: 30px;
}

.modal-cart,
.modal-total {
  background-color: var(--Rose-50);
}

.modal-total {
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-amount {
  color: var(--Rose-900);
  font-size: 25px;
  font-weight: bolder;
}

.modal-total > p {
  color: var(--Rose-900);
}

.cartModalContainer > div > div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.cartModalContainer .cartAmount,
.cartModalContainer .cartPrice {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.cartModalContainer .cartTotalPrice {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.cartModalContainer .cartPrice {
  margin-left: 25px;
}

.cartModalContainer .cartTotalPrice {
  margin-left: 150px;
}

.cartModalContainer > div {
  gap: 25px;
  padding: 25px;
  border-bottom: 1px solid var(--Rose-100);
}

.ModalImage {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

#start-order {
  width: 100%;
  padding: 17.5px;
  border-radius: 25px;
  border: none;
  margin-top: 40px;
  margin-bottom: 15px;
  background-color: var(--Red);
  color: white;
  font-weight: bold;
}

#start-order:hover {
  background-color: var(--darkRed);
}

.btn-cart-logo > .btnText {
  margin-left: 5px;
}

#contentContainer > div > p:first-of-type {
  margin: 5px 0px;
}
